<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <title>OOTP Stat App</title>
</head>
<body>
    <div class="header">
        <div class="title">
            <h1>File Uploader</h1>
        </div>
        <div class="navlinks">
            <a class="button" href="/ootp/user/{{current_user.id}}">My Profile</a>
            <a class="button" href="/ootp/stats">Stats</a>
            <a class="button" href="/ootp/logout">Logout</a>
        </div>
    </div>
    <div class="body">
        <form action="/ootp/process" method="post" enctype='multipart/form-data'>
            <label for="stats">Input your stat sheet:</label>
            <input type="file" name="stats" accept=".html">
            <input type="submit" value="Submit File" class="button">
        </form>
    </div>
</body>
</html>