<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <title>{{this_user.username}}'s Profile</title>
    <script src="{{ url_for('static', filename='sortable.js') }}"></script>
</head>
<body>
    <div class="header">
        <div class="title">
            <h1>Welcome {{this_user.username}}!</h1>
        </div>
        <div class="navlinks">
            <a class="button" href="/">Home</a>
            <a class="button" href="/stats">Stats</a>
            <a class="button" href="/logout">Logout</a>
        </div>
    </div>
    <div class="table">
        <h2>Your Watchlist</h2>
        <table class="sortable">
            <tr class="row">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Rating</th>
                <th>G</th>
                <th>PA</th>
                <th>AB</th>
                <th>H</th>
                <th>HR</th>
                <th>RBI</th>
                <th>R</th>
                <th>BB</th>
                <th>IBB</th>
                <th>HBP</th>
                <th>SF</th>
                <th>SO</th>
                <th>GIDP</th>
                <th>TB</th>
                <th>SB</th>
                <th>CS</th>
                <th>Delete</th>
            </tr>
            {% for player in watchlist_players %} 
            <tr class="row">
                <td>{{player.first_name}}</td>
                <td>{{player.last_name}}</td>
                <td>{{player.position}}</td>
                <td>{{player.rating}}</td>
                <td>{{player.G}}</td>
                <td>{{player.PA}}</td>
                <td>{{player.AB}}</td>
                <td>{{player.H}}</td>
                <td>{{player.HR}}</td>
                <td>{{player.RBI}}</td>
                <td>{{player.R}}</td>
                <td>{{player.BB}}</td>
                <td>{{player.IBB}}</td>
                <td>{{player.HBP}}</td>
                <td>{{player.SF}}</td>
                <td>{{player.SO}}</td>
                <td>{{player.GIDP}}</td>
                <td>{{player.TB}}</td>
                <td>{{player.SB}}</td>
                <td>{{player.CS}}</td>
                <td><a class="button" href="/delete/{{player.id}}/{{this_user.id}}">Delete</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>