<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Stat Page</h1>
    <button><a href="/">Home</a></button>
    <button><a href="/user/{{session['id']}}">My Profile</a></button>
    <button><a href="/logout">Logout</a></button>
    <table class="sortable">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Rating</th>
            <th>G</th>
            <th>PA</th>
            <th>AB</th>
            <th>H</th>
            <th>HR</th>
            <th>RBI</th>
            <th>R</th>
            <th>BB</th>
            <th>IBB</th>
            <th>HBP</th>
            <th>SF</th>
            <th>SO</th>
            <th>GIDP</th>
            <th>TB</th>
            <th>SB</th>
            <th>CS</th>
            <th>Add to Watchlist</th>
        </tr>
        {% for this_player in all_players %} 
            <tr>
                <td>{{this_player.first_name}}</td>
                <td>{{this_player.last_name}}</td>
                <td>{{this_player.position}}</td>
                <td>{{this_player.rating}}</td>
                <td>{{this_player.G}}</td>
                <td>{{this_player.PA}}</td>
                <td>{{this_player.AB}}</td>
                <td>{{this_player.H}}</td>
                <td>{{this_player.HR}}</td>
                <td>{{this_player.RBI}}</td>
                <td>{{this_player.R}}</td>
                <td>{{this_player.BB}}</td>
                <td>{{this_player.IBB}}</td>
                <td>{{this_player.HBP}}</td>
                <td>{{this_player.SF}}</td>
                <td>{{this_player.SO}}</td>
                <td>{{this_player.GIDP}}</td>
                <td>{{this_player.TB}}</td>
                <td>{{this_player.SB}}</td>
                <td>{{this_player.CS}}</td>
                {% if this_player.id in watchlist_players %}
                <td><button disabled>[+] Watchlist</a></button></td>
                {% else %}
                <td><button><a href="/add_to_list/{{this_player.id}}/{{session['id']}}">[+] Watchlist</a></button></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>