<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stats.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <title>All Stats</title>
    <script src="{{ url_for('static', filename='sortable.js') }}"></script>
</head>
<body>
    <div class="header">
        <div class="title">
            <h1>Stat Page</h1>
        </div>
        <div class="navlinks">
            <a class="button" href="/">Home</a>
            <a class="button" href="/user/{{session['id']}}">My Profile</a>
            <a class="button" href="/logout">Logout</a>
        </div>
    </div>
    <table class="sortable">
        <tr class="row">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Rating</th>
            <th>G</th>
            <th>PA</th>
            <th>AB</th>
            <th>H</th>
            <th>HR</th>
            <th>RBI</th>
            <th>R</th>
            <th>BB</th>
            <th>IBB</th>
            <th>HBP</th>
            <th>SF</th>
            <th>SO</th>
            <th>GIDP</th>
            <th>TB</th>
            <th>SB</th>
            <th>CS</th>
            <th class="sorttable_nosort">Add to Watchlist</th>
        </tr>
        {% for this_player in all_players %} 
            <tr class="row">
                <td>{{this_player.first_name}}</td>
                <td>{{this_player.last_name}}</td>
                <td>{{this_player.position}}</td>
                <td>{{this_player.rating}}</td>
                <td>{{this_player.G}}</td>
                <td>{{this_player.PA}}</td>
                <td>{{this_player.AB}}</td>
                <td>{{this_player.H}}</td>
                <td>{{this_player.HR}}</td>
                <td>{{this_player.RBI}}</td>
                <td>{{this_player.R}}</td>
                <td>{{this_player.BB}}</td>
                <td>{{this_player.IBB}}</td>
                <td>{{this_player.HBP}}</td>
                <td>{{this_player.SF}}</td>
                <td>{{this_player.SO}}</td>
                <td>{{this_player.GIDP}}</td>
                <td>{{this_player.TB}}</td>
                <td>{{this_player.SB}}</td>
                <td>{{this_player.CS}}</td>
                {% if this_player.id in watchlist_players %}
                <td><a class="button" href="/delete/{{this_player.id}}/{{session['id']}}">Un-Watchlist</a></td>
                {% else %}
                <td><a class="button" href="/add_to_list/{{this_player.id}}/{{session['id']}}">Watchlist</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>